on post-fs-data
    chown system radio /sys/class/camera/rear/rear4_phy_tune

on boot
    chmod 0660 /dev/range_sensor
    chown system system /dev/range_sensor
    mkdir /efs/FactoryApp/range_sensor 0775 system system
    chown system system /efs/FactoryApp/range_sensor/cal_data.bin
    chmod 0660 /efs/FactoryApp/range_sensor/cal_data.bin
	mkdir /efs/range_sensor 0775 system system
    chown system system /efs/range_sensor/cal_data.bin
    chmod 0660 /efs/range_sensor/cal_data.bin
    mkdir /efs/range_sensor 0770 system system
    chown system radio /sys/class/sensors/range_sensor/ambient
    chown system radio /sys/class/sensors/range_sensor/cal01
    chown system radio /sys/class/sensors/range_sensor/cal02
    chown system radio /sys/class/sensors/range_sensor/cal_uid
    chown system radio /sys/class/sensors/range_sensor/calibration
    chown system radio /sys/class/sensors/range_sensor/open_calibration
    chown system radio /sys/class/sensors/range_sensor/enable
    chown system radio /sys/class/sensors/range_sensor/frame_rate
    chown system radio /sys/class/sensors/range_sensor/fw_version
    chown system radio /sys/class/sensors/range_sensor/mode
    chown system radio /sys/class/sensors/range_sensor/name
    chown system radio /sys/class/sensors/range_sensor/range_sigma
    chown system radio /sys/class/sensors/range_sensor/status
    chown system radio /sys/class/sensors/range_sensor/target_status
    chown system radio /sys/class/sensors/range_sensor/temp
    chown system radio /sys/class/sensors/range_sensor/test01
    chown system radio /sys/class/sensors/range_sensor/test02
    chown system radio /sys/class/sensors/range_sensor/test03
    chown system radio /sys/class/sensors/range_sensor/test_mode
    chown system radio /sys/class/sensors/range_sensor/uid
    chown system radio /sys/class/sensors/range_sensor/vendor
    chown system radio /sys/class/sensors/range_sensor/zone
    chown system radio /sys/class/sensors/range_sensor/file_cal
    chown system radio /sys/class/sensors/range_sensor/file_p2p
    chown system radio /sys/class/sensors/range_sensor/file_shape

    # PMIC: S2DOS05 Display PMIC
    chown system system /sys/class/sec/disp_pmic/enable_fd
    chown system system /sys/class/sec/disp_pmic/power_meter/adc_mode

# Range Sensor
on property:sys.boot_completed=1
    chmod 0660 /dev/range_sensor
    chown system system /dev/range_sensor
    write /sys/class/sensors/range_sensor/calibration 0
